# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objetives:**

- Popular languages for Data Science.
- Common used libraries for Data Science.
- Data Science tools.
- Examples of arithmetic expressions in Python.

Some of the popular languages that Data Scientist use are: 

1. Python
2. R
3. Java

Some of the commonly used libraries used by Data Scientists include:
1. Ploty
2. Numpy
3. Pandas

| Data Science Tools |
|------|
| Hadoop |
| Tensorflow |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python.

This is an example of a simple arithmetic expression to multiply then add integers.

In [8]:
(3*4)+5

17

This will convert 200 minutes to hours by dividing by 60.

In [9]:
(200/60)

3.3333333333333335

## Author
Luis Alejandro Vazquez